<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Trainee</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">BEL, Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Where I started working more on wired/wireless communication. I was responsible for effective provisioning, installation, configuration, operation, maintenance of systems hardware & software and related infrastructure, participating in technical research and development to enable continuous innovations within the infrastructure. I learned more about networking and my passion for knowing more grew with it.</p>  
                        <p>I am experienced in Managing and troubleshooting routers and switches. Router Link related issues and maintenance and commissioning wired lines and connectivity issues, if the problem exists; ensure quality delivery and support of the network infrastructure. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
              
                
            </section><!--//section-->
