<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">NTRO - National Technical Research Organization</a></span> - 
                    <span class="project-tagline">I was responsible for effective provisioning, installation, configuration, operation, maintenance of systems hardware & software and related infrastructure. </span>                   
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">LLTR - Low Level Transmission Relay</a></span> - 
                    <span class="project-tagline">I'm Managing and troubleshooting routers and switches. Router Link related issues and maintenance and commissioning wired lines and connectivity issues, if the problem exists; ensure quality delivery and support of the network infrastructure. </span>
                </div><!--//item-->
            </section><!--//section-->
